
@font-face {
    font-family: 'Araboto';
    src: url('fonts/Araboto\ Black\ 400.ttf');
}

@font-face {
    font-family: 'Araboto-light';
    src: url('fonts/Araboto\ Light\ 400.ttf');
}

@font-face {
    font-family: 'Araboto-bold';
    src: url('fonts/Araboto\ Bold\ 400.ttf');
}

html {
    scroll-behavior: smooth;
}

/* Body */
body {
    margin: 0;
    background: rgb(31,41,55);
    background: linear-gradient(180deg, rgba(31,41,55,1) 0%, rgba(13,18,24,1) 100%);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
    position: sticky; top: 0;
}

.header-logo {
    padding-left: 64px;
    font-size: 24px;
    font-weight: 900;
    color: #F9F1F8;
    font-family: 'Courier New', Courier, monospace;
}

.header-text {
    padding-right: 64px;
    padding-left: 64px;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.header-icon {
    width: 32px;
    height: 32px;
}

.header-icon-main {
    width: 48px;
    height: 48px;
    scroll-behavior: smooth;
}

/* Main Title Page with Image */

.startpage {
    display: flex;
    padding-bottom: 64px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.startpage-left {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 0 1 1;
    align-items: center;
}

.startpage-right {
    height: 500px;
    border-radius: 32px;
    height: auto;
    flex-wrap: wrap;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: 'Araboto';
    /* background: -webkit-linear-gradient(315deg, rgb(194, 21, 233) 0%, rgb(21, 103, 202)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.titletext {
    font-weight: bolder;
    color: #E5E7EB;
    font-family: 'Araboto';
    
}

/*     background: linear-gradient(315deg, rgba(162,17,193,1) 0%, rgba(14,72,142,1) 100%); */

.studium {
    background: -webkit-linear-gradient(315deg, rgb(194, 21, 233) 0%, rgb(21, 103, 202)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: fit-content;
    width: fit-content;
}

.sign-up {
    background-color: #1f2937;
    width: 123px;
    height: 30px;
    font-family: 'Araboto-bold';
    font-size: 16px;
    color: #E5E7EB;
    border: 1px solid #F9FAF8;
    border-radius: 8px;
    cursor: pointer;
}

.sign-up:hover {
    background-color: #F9FAF8;
    color: #1f2937;
    border: 1px solid #F9FAF8;
}

/* Section with multiple icons/widgets */

.middle {
    background: rgba(13,18,24,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-bottom: 96px;
}

.middle-title {
    padding-top: 16px;
    font-size: 36px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: 'Araboto';
}

.icons-and-text {
    display: flex;
    gap: 64px;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* max-width: 165px;
    max-height: 250px; */
    align-items: center;
    justify-content: center;
}

.icon {
    height: 175px;
    width: 165px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 16px;
}

.icon1 {

    max-height: 352px;
    max-width: 100%;

    height: 352px;
    width: 450px;
    border-radius: 16px;
}

.icon-text {
    text-align: center;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: 'Araboto-light';
}

/* Quote */
.quote {
    background-color: #F9FAF8;
    background: rgb(162,17,193);
    background: linear-gradient(315deg, rgba(162,17,193,1) 0%, rgba(14,72,142,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #F9FAF8;
    font-family: 'Araboto-light';
    max-width: 75%;
}

.quote-person {
    display: flex;
    width: 75%;
    justify-content: end;
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: 'Araboto';
}


/* Call to Action */
.action {
    background-color: #1F2937;
    border: 4px;
    border-color: #E5E7EB;
    border-style: solid;
    margin: 96px 10%;
    border-radius: 8px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
}


.action-text {
    margin-left: 64px;
}

.action-title {
    font-size: 24px;
    color: #F9F1F8;
    font-family: 'Araboto';
}

.action-description {
    color: #F9F1F8;
    font-family: 'Araboto-light';
}

.sign-up2 {
    margin-right: 64px;
    background-color: #1f2937;
    width: 123px;
    height: 30px;
    font-family: 'Araboto-bold';
    font-size: 16px;
    color: #E5E7EB;
    border: 1px solid #F9F1F8;
    border-radius: 8px;
    cursor: pointer;
}

.sign-up2:hover {
    background-color: #F9FAF8;
    color: #1f2937;
    border: 1px solid #F9FAF8;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 16px;
}

.footer-text {
    color: #F9F1F8;
    font-family: 'Araboto-light';
}
