
@font-face {
    font-family: 'Araboto';
    src: url('fonts/Araboto\ Black\ 400.ttf');
}

@font-face {
    font-family: 'Araboto-light';
    src: url('fonts/Araboto\ Light\ 400.ttf');
}

@font-face {
    font-family: 'Araboto-bold';
    src: url('fonts/Araboto\ Bold\ 400.ttf');
}

body {
    font-family: 'Hero Light Regular';
}

.header {
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    padding-top: 16px;
}

.header-logo {
    padding-left: 64px;
    font-size: 24px;
    font-weight: 900;
    color: #F9F1F8;
    font-family: 'Courier New', Courier, monospace;
}

.header-text {
    padding-right: 64px;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.startpage {
    display: flex;
    background: #1f2937;
    padding: 64px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}


.startpage-left {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 0 1 1;
}

.startpage-right {
    height: 500px;
    border-radius: 32px;
    flex-shrink: 1;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: 'Araboto';
}

.titletext {
    font-weight: bolder;
    color: #E5E7EB;
    font-family: 'Araboto';
}


.sign-up {
    background-color: #3882F6;
    width: 123px;
    height: 30px;
    font-family: 'Araboto-bold';
    font-size: 16px;
    color: #E5E7EB;
    border: 1px solid #3882F6;
    border-radius: 8px;
    cursor: pointer;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.icons-and-text {
    display: flex;
    gap: 64px;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 165px;
    max-height: 250px;
    align-items: center;
}

.icon {
    height: 175px;
    width: 165px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 16px;
}

.icon-text {
    text-align: center;
    font-weight: bolder;
    color: #444546;
    font-family: 'Araboto-light';

}

.middle-title {
    padding-top: 16px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    font-family: 'Araboto';
}